<!-- single upload -->
<form action="/single" method="post" enctype="multipart/form-data">
    <p>单文件上传</p>
    <input type="file" name="logo">
    <input type="submit" value="提交">
</form>

<!-- multi upload -->
<form action="/multi" method="post" enctype="multipart/form-data">
    <p>多文件上传</p>
    <input type="file" name="avatar">
    <input type="file" name="gallery">
    <input type="submit" value="提交">
</form>