<form method="POST" action="/upload">
    <fieldset>
        name
        <input id="name" name="name" type="text"> password
        <input id="password" type="text" name="password">
        <input class="submit" type="submit" value="Submit">
    </fieldset>
</form>