<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script type="text/javascript" src="angular/angular.min.js" ></script>

	<body>
		<!--<div ng-app="myApp" ng-controller="myCtrl">
			<p ng-bind="myBind"></p>
			<p>{{myBind}}</p>
		</div>
		<script>
			angular.module('myApp', []).controller('myCtrl', function($scope) {
				$scope.myBind = "Hello My Bind";
			});
		</script>-->

		<!--<div ng-app="myApp" ng-controller="myCtrl">
			<input ng-model="myModel">
		</div>
		<script>
			angular.module('myApp', []).controller('myCtrl', function($scope) {
				$scope.myModel = "Hello My Model";
			});
		</script>-->

		<!--<div ng-app="myApp" ng-controller="myCtrl">
			<h1 ng-click="change()">{{myClick}}</h1>
		</div>
		<script>
			angular.module('myApp', []).controller('myCtrl', function($scope) {
				$scope.myClick = "click me";
				$scope.change = function() {
					$scope.myClick = "I'm change";
				}
			});
		</script>-->

		<!--<div ng-app="myApp" ng-controller="myCtrl">
			{{myFun()}}
		</div>
		<script>
			angular.module('myApp', []).controller('myCtrl', function($scope) {
				$scope.name = "Tomcat";
				$scope.addr = "USA";
				$scope.myFun = function() {
					return $scope.name + " - " + $scope.addr;
				};
			});
		</script>-->

		<!--<div ng-app="myApp" ng-controller="myCtrl">
			<ul>
				<li ng-repeat="x in names">
					{{ x.name + ' - ' + x.country }}
				</li>
			</ul>
		</div>
		<script>
			angular.module('myApp', []).controller('myCtrl', function($scope) {
			    $scope.names = [
			        {name:'Jani',country:'Norway'},
			        {name:'Hege',country:'Sweden'},
			        {name:'Kai',country:'Denmark'}
			    ];
			});			
		</script>-->
		
	</body>

</html>